@font-face {
  font-family: Inter;
  font-weight: 400;
  src: url("../fonts/Inter-Regular.ttf");
}

@font-face {
  font-family: Inter;
  font-weight: 900;
  src: url("../fonts/Inter-Black.ttf");
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  position: relative;
  overflow-x: hidden;
  min-width: 320px;
  min-height: 100vh;
  font-family: Inter, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  font-size: 16px;
  line-height: 1.2;
  color: #292D32;
  background-color: #FFF6EB;
}

img,
svg {
  display: block;
}

button {
  padding: 0;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
p,
figure,
fieldset {
  margin: 0;
}

iframe {
  border: none;
}

input::-webkit-search-cancel-button{
  display: none;
}

.visually-hidden {
  position: fixed;
  transform: scale(0);
}

.container {
  --container-width: 100%;
  --container-offset: 11px;
  max-width: calc(var(--container-width) + var(--container-offset)*2);
  padding: 0 var(--container-offset);
  margin: 0 auto;
    @media screen and (min-width: 768px) {
      --container-width: 624px;
      --container-offset: 30px;
    }
    @media screen and (min-width: 1024px) {
      --container-width: 942px;
    }
    @media screen and (min-width: 1440px) {
      --container-width: 1260px; 
    }
}

.header {
  padding: 18px 0 30px;
  @media screen and (min-width: 768px) {
      padding: 32px 0 24px;
    }
}

.header__container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo--icon {
  width: 145px;
  @media screen and (min-width: 768px) {
    width: 240px;
  }
}

.header__favorite--link {
  display: flex;
  justify-content: center;
  gap: 4px;
  stroke: #292D32;
  letter-spacing: 0.02em;
    &:hover {
    color: #FF6A00;
    stroke: #FF6A00;
    }
}

.header__favorite--tag{
  display: none;
  @media screen and (min-width: 1024px) {
      display: block;
    }
}

.header__favorite--icon {
  width: 20px;
  height: 20px; 
}

.search {
  padding-bottom: 40px;
  @media screen and (min-width: 768px) {
      padding-bottom: 60px;
    };
  @media screen and (min-width: 1440px) {
    padding-bottom: 80px;
  };
}

.search__form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 40px;
  border: 1px solid #FB9953;
  padding-left: 24px;
}

.search__form--input {
  width: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  letter-spacing: 0.02em;
}

.search__form--btn {
  display: flex;
  align-items: center;
  padding: 8px 16px;
  gap: 4px;
  border-radius: 40px;
  background: #FF6A00;
  letter-spacing: 0.02em;
  color: #ffffff;
}


.search__icon {
  width: 20px;
  height: 20px;
}

.hero {
  background: #FF6A00 url('../images/bg.jpg') center/cover;
  padding: 16px 0 32px;
  margin-bottom: 20px;
  @media screen and (min-width: 768px) {
    padding: 40px 0 42px;
    margin-bottom: 32px;
  }
  @media screen and (min-width: 1024px) {
    padding-bottom: 57px;
  } 
  @media screen and (min-width: 1440px) {
  padding: 60px 0 80px;
  }
}

.hero__container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}

.hero__logo {
  width: 145px;
  /* margin-bottom: 26px; */
  @media screen and (min-width: 768px) {
    width: 200px;
    /* margin-bottom: 45px; */
  }
  @media screen and (min-width: 1440px) {
    width: 240px;
    /* margin-bottom: 80px; */
  }
}

.hero__links{
  /* position: relative; */
  display: flex;
  width: 100%;
  justify-content: space-between;
  /* justify-content: center; */
  align-items: center;
  margin-bottom: 26px;

  @media screen and (min-width: 768px) {
    margin-bottom: 45px;
  }    
  @media screen and (min-width: 1440px) {
    margin-bottom: 80px;
  }
}

.hero__favorite--link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  letter-spacing: 0.02em;
  
  @media screen and (min-width: 768px) {
      position: absolute;
      right: 0;
      top: -18px;
    }
  @media screen and (min-width: 1440px) {
      top: -36px;
    }
}

.hero__favorite--tag{
  display: none;
  @media screen and (min-width: 1024px) {
      display: block;
  }
}

.hero__favorite--icon {
  width: 20px;
  height: 20px;
}

.hero__title { 
  font-size: 24px;
  font-weight: 900;
  letter-spacing: 0.02em;
  margin-bottom: 20px;
  text-align: center;
  @media screen and (min-width: 768px) {
    font-size: 40px;
    margin-bottom: 32px;
  }
  @media screen and (min-width: 1024px) {
    font-size: 50px;
  }
  @media screen and (min-width: 1440px) {
    font-size: 70px;
    margin-bottom: 40px;
  }
}

.hero__tagline {
  font-size: 16px;
  letter-spacing: 0.02em;
  @media screen and (min-width: 768px) {
    font-size: 20px;
  }
}

.video-gallery {
  padding-bottom: 60px;
  @media screen and (min-width: 1440px) {
    padding-bottom: 80px;
  }
}

.video-gallery__title {
  font-size: 24px;
  font-weight: 900;
  letter-spacing: 0.02em;
  margin-bottom: 20px;
  @media screen and (min-width: 768px) {
    font-size: 32px;
    margin-bottom: 32px;
  }
  @media screen and (min-width: 1440px) {
    font-size: 40px;
    margin-bottom: 40px;
  }
}

.video-list {
  width: 100%;
  @media screen and (min-width: 768px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px 12px;
  }
  @media screen and (min-width: 1024px) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media screen and (min-width: 1440px) {
    gap: 40px 12px;
  }
}

.video-card {
  position: relative;
  padding-bottom: 20px;
  @media screen and (min-width: 768px) {
      padding-bottom: 0;
    }

}

.video-card__cover {
  border-radius: 16px;
  margin-bottom: 20px;
  width: 100%;
}

.video-card__title {
  font-size: 18px;
  line-height: 1.2;
  margin-bottom: 6px;
  @media screen and (min-width: 768px) {
    font-size: 20px;
    margin-bottom: 10px;
  }
  @media screen and (min-width: 1440px) {
    font-size: 24px;
  }
}

.video-card__channel {
  margin-bottom: 6px;
  @media screen and (min-width: 1440px) {
    font-size: 20px;
    margin-bottom: 10px;
  }
}

.video-card__duration{
  font-size: 14px;
  @media screen and (min-width: 1440px) {
    font-size: 16px;
  }
}

.video-card__favorite {
  position: absolute;
  right: 12px;
  top: 12px;
  stroke: #292D32;
}

.video-card__favorite .star {
  display: none;
}

.video-card__favorite--active .star{
  display: block;
}

.video-card__favorite-icon{
  width: 20px;
  height: 20px;
}

.footer {
  padding: 24px 0 32px;
  background: #FF6A00 url('../images/bg-footer.jpg') center/cover;
  color: #ffffff;
  @media screen and (min-width: 768px) {
      padding: 27px 0;
    }
  @media screen and (min-width: 1440px) {
      padding: 41px 0;
    }
}

.footer__container {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.footer__logo {
  width: 180px;
  margin-bottom: 24px;
  @media screen and (min-width: 768px) {
    width: 305px;
    margin-bottom: 0;
  }
  @media screen and (min-width: 1440px) {
    width: 360px;
  } 
}

.footer__developers {
  color: #ffffff;
  letter-spacing: 0.02em;
}

.footer__developers-list { 
  margin-bottom: 16px;
}

.footer__developers-item:not(:last-child) {
  padding-bottom: 9px;
}

.video {
  padding-bottom: 40px;
  @media screen and (min-width: 768px) {
    padding-bottom: 60px;
  }
  @media screen and (min-width: 1440px) {
    padding-bottom: 80px;
  }
}

.video__player {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  margin-bottom: 20px;
  @media screen and (min-width: 768px) {
    margin-bottom: 24px;
  }
  @media screen and (min-width: 1024px) {
    margin-bottom: 32px;
  }
}

.video__iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;  
  border-radius: 16px;
}

.video__content{
@media screen and (min-width: 1024px) {
    display: flex;
    flex-direction: row-reverse;
    align-items: start;
    justify-content: space-between;
    gap: 84px;
  }
}

.video__favorite-btn { 
  margin-bottom: 24px;
  padding-top: 12px; 
  letter-spacing: 0.02em;
  stroke: #292D32;
  @media screen and (min-width: 1024px) {
    margin-bottom: 0;
  }
  &:hover {
      color: #FF6A00;
      stroke: #FF6A00;
    }
}

.video__favorite,
.video__no-favorite {
  display: flex;
  width: max-content;
  white-space: nowrap;
  align-items: center;
  gap: 4px;
}

.video__no-favorite-icon, .video__favorite-icon{
  width: 20px;
  height: 20px;  
}

.video__favorite{
  display: none;
}

.video__favorite--active .video__favorite{
  display: flex;
}
  
.video__favorite--active .video__no-favorite{
  display: none;
}

  .video__details--title {
  font-size: 24px;
  font-weight: 900;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
  line-height: 1.2;
  @media screen and (min-width: 768px) {
    font-size: 32px;
    margin-bottom: 24px;
  }
  @media screen and (min-width: 1440px) {
    font-size: 40px;
  }
}

.video__details--channel {
  margin-bottom: 12px;
  letter-spacing: 0.02em;
  line-height: 1.2;
  @media screen and (min-width: 768px) {
    font-size: 20px;
    margin-bottom: 20px;
  }
  @media screen and (min-width: 1440px) {
    font-size: 24px;
    margin-bottom: 24px;
  }
}   

.video__details--info {
  letter-spacing: 0.02em;
  line-height: 1.2;
  @media screen and (min-width: 768px) {
    font-size: 20px;
  }
  @media screen and (min-width: 1440px) {
    font-size: 24px;
  }
}

.video__details--description {
  letter-spacing: 0.02em;
  line-height: 1.2;
  @media screen and (min-width: 768px) {
    font-size: 20px;
  }

  @media screen and (min-width: 1440px) {
    font-size: 24px;
  }
}