@font-face {
  font-family: Inter;
  font-weight: 400;
  src: url("../fonts/Inter-Regular.ttf");
}

@font-face {
  font-family: Inter;
  font-weight: 900;
  src: url("../fonts/Inter-Black.ttf");
}

:root {
  --white: #ffffff;
  --light: #FFF6EB;
  --accent: #FF6A00;
  --hover-color: #FB6231;
  --dark-accent: #59080B;
  --black: #292D32;

  /* Light mode */
  --page-bg: var(--light);
  --text-color: var(--black);
  --secondary-text-color: var(--white);
  --white-to-accent: var(--white);
  --accent-to-dark: var(--accent);

  --hero-bg: var(--accent) url('../images/bg.jpg') center/cover;
  --footer-bg: var(--accent) url('../images/bg-footer.jpg') center/cover;
  --dark-mode-btn-bg: var(--accent);
}

.dark {  
  --page-bg: #221d1d;
  --text-color: var(--light);
  --secondary-text-color: var(--light);
  --white-to-accent: var(--accent);
  --accent-to-dark: var(--dark-accent);

  --hero-bg: var(--dark-accent) url('../images/bg-dark.jpg') center/cover;
  --footer-bg: var(--dark-accent) url('../images/bg-footer-dark.jpg') center/cover;
  --dark-mode-btn-bg: transparent;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  position: relative;
  overflow-x: hidden;
  min-width: 320px;
  min-height: 100vh;
  font-family: Inter, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  font-size: 16px;
  line-height: 1.2;
  color: var(--text-color); 
  background-color: var(--page-bg);
  display: flex;
  flex-direction: column;
}

main{
  flex-grow: 1;
}

img,
svg {
  display: block;
  height: auto;
}

button {
  padding: 0;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
p,
figure,
fieldset {
  margin: 0;
}

iframe {
  border: none;
}

input::-webkit-search-cancel-button{
  display: none;
}

.visually-hidden {
  position: fixed;
  transform: scale(0);
}

.container {
  --container-width: 100%;
  --container-offset: 11px;
  max-width: calc(var(--container-width) + var(--container-offset)*2);
  padding: 0 var(--container-offset);
  margin: 0 auto;
    @media screen and (min-width: 768px) {
      --container-width: 624px;
      --container-offset: 30px;
    }
    @media screen and (min-width: 1024px) {
      --container-width: 942px;
    }
    @media screen and (min-width: 1440px) {
      --container-width: 1260px; 
    }
}

.dark-mode-btn {
  position: relative;
  display: flex;
  justify-content: space-between;
  min-width: 43px;
  height: 22px;
  padding: 3px;
  border-radius: 50px;
  /* background-color : --dark-mode-btn-bg; */
  background-color: var(--dark-mode-btn-bg);
  outline: 1px solid var(--white-to-accent);
}

.dark-mode-btn::before {
  content: "";
  position: absolute;
  top: 1px;
  left: 1px;
  display: block;
  width: 20px;
  height: 20px; 
  border-radius: 50%;
  background-color: var(--white-to-accent);
   transition: left 0.3s ease-in;
}

.dark-mode-btn__active::before {
  left: 22px;  
}

.dark-mode-btn__icon {
  position: relative;
  width: 16px;
  height: 16px;
  fill:var(--accent-to-dark);
} 

.header {
  padding: 18px 0 30px;
  @media screen and (min-width: 768px) {
    padding: 32px 0 24px;
  }
}

.header__container{
  display: flex;
  align-items: center;
  gap: 10px;
  @media screen and (min-width: 768px) {
      gap: 40px;
    }
  @media screen and (min-width: 1440px) {
      gap: 80px;
    }
  
}

.header__links{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.header__logo--icon {
  width: 145px;
  @media screen and (min-width: 768px) {
    width: 240px;
  }
}

.header__favorite--link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  stroke: var(--text-color);
  letter-spacing: 0.02em;
    &:hover {
    color: #FF6A00;
    stroke: #FF6A00;
    }
}

.header__favorite--tag{
  display: none;
  @media screen and (min-width: 1024px) {
    display: block;
  }
}

.header__favorite--icon {
  width: 20px;
  height: 20px; 
}

.search {
  padding-bottom: 40px;
  @media screen and (min-width: 768px) {
      padding-bottom: 60px;
    };
  @media screen and (min-width: 1440px) {
    padding-bottom: 80px;
  };
}

.search__form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 40px;
  border: 1px solid var(--accent-to-dark);
  padding-left: 24px;
}

.search__form--input {
  width: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

.search__form--btn {
  display: flex;
  align-items: center;
  padding: 8px 16px;
  gap: 4px;
  border-radius: 40px;
  background: var(--accent-to-dark);
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}


.search__icon {
  width: 20px;
  height: 20px;
}

.hero {
  background: var(--hero-bg);
  padding: 16px 0 32px;
  margin-bottom: 20px;
  @media screen and (min-width: 768px) {
    padding: 40px 0 42px;
    margin-bottom: 32px;
  }
  @media screen and (min-width: 1024px) {
    padding-bottom: 57px;
  } 
  @media screen and (min-width: 1440px) {
  padding: 60px 0 80px;
  }
}

.hero__container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--secondary-text-color);
}

.hero__logo {
  width: 145px; 
  @media screen and (min-width: 768px) {
    width: 200px; 
  }
  @media screen and (min-width: 1440px) {
    width: 240px; 
  }
}

.hero__links{ 
  display: flex;
  width: 100%;
  justify-content: space-between; 
  align-items: center;
  margin-bottom: 26px;

  @media screen and (min-width: 768px) {
    margin-bottom: 45px;
  }    
  @media screen and (min-width: 1440px) {
    margin-bottom: 80px;
  }
}

.hero__links--wrap {
  display: flex;
  gap: 10px;
  align-items: center;
    @media screen and (min-width: 768px) {
      position: absolute;
      right: 0;
      top: -18px;
      gap: 40px;
    }
  
    @media screen and (min-width: 1440px) {
      top: -36px;
      gap: 80px;
    }
}

.hero__favorite--link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  letter-spacing: 0.02em;
}

.hero__favorite--tag{
  display: none;
  @media screen and (min-width: 1024px) {
      display: block;
  }
}

.hero__favorite--icon {
  width: 20px;
  height: 20px;
}

.hero__title { 
  font-size: 24px;
  font-weight: 900;
  letter-spacing: 0.02em;
  margin-bottom: 20px;
  text-align: center;
  @media screen and (min-width: 768px) {
    font-size: 40px;
    margin-bottom: 32px;
  }
  @media screen and (min-width: 1024px) {
    font-size: 50px;
  }
  @media screen and (min-width: 1440px) {
    font-size: 70px;
    margin-bottom: 40px;
  }
}

.hero__tagline {
  font-size: 16px;
  letter-spacing: 0.02em;
  @media screen and (min-width: 768px) {
    font-size: 20px;
  }
}

.video-gallery {
  padding-bottom: 60px;
  @media screen and (min-width: 1440px) {
    padding-bottom: 80px;
  }
}

.video-gallery__title {
  font-size: 24px;
  font-weight: 900;
  letter-spacing: 0.02em;
  margin-bottom: 20px;
  @media screen and (min-width: 768px) {
    font-size: 32px;
    margin-bottom: 32px;
  }
  @media screen and (min-width: 1440px) {
    font-size: 40px;
    margin-bottom: 40px;
  }
}

.video-list {
  width: 100%;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    gap: 32px 12px;
  }
  @media screen and (min-width: 1440px) {
    gap: 40px 12px;
  }
}

.video-list__item{
  max-width: 100%;
  @media screen and (min-width: 768px) {
      max-width: calc((100% - 12px) / 2);
    }
    @media screen and (min-width: 1024px) {
      max-width: calc((100% - 24px) / 3);
    }
}

.video-card {   
  position: relative;
  padding-bottom: 20px;
  @media screen and (min-width: 768px) {
      padding-bottom: 0;
    }

}

.video-card__cover {
  border-radius: 16px;
  margin-bottom: 12px;
  width: 100%;
}

.video-card__title {
  font-size: 18px;
  line-height: 1.2;
  margin-bottom: 6px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden; 
  @media screen and (min-width: 768px) {
    font-size: 20px;
    margin-bottom: 10px;
  }
  @media screen and (min-width: 1440px) {
    font-size: 24px;
  }
}

.video-card__title:hover {
  -webkit-line-clamp: initial;
}

.video-card__channel {
  margin-bottom: 6px;
  @media screen and (min-width: 1440px) {
    font-size: 20px;
    margin-bottom: 10px;
  }
}

.video-card__duration{
  font-size: 14px;
  @media screen and (min-width: 1440px) {
    font-size: 16px;
  }
}

.video-card__favorite {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 12px;
  top: 12px;
  stroke: #292D32;
}

.video-card__favorite .star {
  display: none;
}

.video-card__favorite.active .star{
  display: block;
}

.video-card__favorite-icon{
  width: 20px;
  height: 20px;
}

.footer {
  padding: 24px 0 32px;
  background: var(--footer-bg);
  color: var(--text-color);
  @media screen and (min-width: 768px) {
      padding: 27px 0;
    }
  @media screen and (min-width: 1440px) {
      padding: 41px 0;
    }
}

.footer__container {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.footer__logo {
  width: 180px;
  margin-bottom: 24px;
  @media screen and (min-width: 768px) {
    width: 305px;
    margin-bottom: 0;
  }
  @media screen and (min-width: 1440px) {
    width: 360px;
  } 
}

.footer__developers {
  color: var(--secondary-text-color);
  letter-spacing: 0.02em;
}

.footer__developers-list { 
  margin-bottom: 16px;
}

.footer__developers-item:not(:last-child) {
  padding-bottom: 9px;
}

.video {
  padding-bottom: 40px;
  @media screen and (min-width: 768px) {
    padding-bottom: 60px;
  }
  @media screen and (min-width: 1440px) {
    padding-bottom: 80px;
  }
}

.video__player {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  margin-bottom: 20px;
  @media screen and (min-width: 768px) {
    margin-bottom: 24px;
  }
  @media screen and (min-width: 1024px) {
    margin-bottom: 32px;
  }
}

.video__iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;  
  border-radius: 16px;
}

.video__content{
  
@media screen and (min-width: 1024px) {
    display: flex;
    flex-direction: row-reverse;
    align-items: start;
    justify-content: space-between;
    gap: 84px;
    
  }
}

.video__favorite-btn { 
  color: var(--text-color);
  margin-bottom: 24px;
  padding-top: 12px; 
  letter-spacing: 0.02em;
  stroke: var(--text-color);
  display: flex;
  min-width: 210px;
  width: max-content;
    white-space: nowrap;
    align-items: center;
    gap: 4px;
  @media screen and (min-width: 1024px) {
    justify-content: right;
    margin-bottom: 0;
  }
  &:hover {
      color: #FF6A00;
      stroke: #FF6A00;
    }
} 

.video__favorite-btn .star {
  display: none;
}

.video__favorite-btn .star-o {
  display: block;
}
.video__favorite-btn.active .star-o {
  display: none;
}

.video__favorite-btn.active .star {
  display: block;
}

.video__favorite-icon {
  width: 20px;
  height: 20px;
}

  .video__details--title {
  font-size: 24px;
  font-weight: 900;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
  line-height: 1.2;
  @media screen and (min-width: 768px) {
    font-size: 32px;
    margin-bottom: 24px;
  }
  @media screen and (min-width: 1440px) {
    font-size: 40px;
  }
}

.video__details--channel {
  margin-bottom: 12px;
  letter-spacing: 0.02em;
  line-height: 1.2;
  @media screen and (min-width: 768px) {
    font-size: 20px;
    margin-bottom: 20px;
  }
  @media screen and (min-width: 1440px) {
    font-size: 24px;
    margin-bottom: 24px;
  }
}   

.video__details--info {
  letter-spacing: 0.02em;
  line-height: 1.2;
  @media screen and (min-width: 768px) {
    font-size: 20px;
  }
  @media screen and (min-width: 1440px) {
    font-size: 24px;
  }
}

.video__details--description {
  letter-spacing: 0.02em;
  line-height: 1.2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  overflow: hidden;
  @media screen and (min-width: 768px) {
    font-size: 20px;
  }

  @media screen and (min-width: 1440px) {
    font-size: 24px;
  }
}

.video__details--description:hover {
  -webkit-line-clamp: initial
}

.swal-modal{
  background-color: var(--light);
}

.swal-button {
  border-radius: 40px;
  background: var(--accent);
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
text-transform: lowercase;
  padding: 7px 19px;
  font-size: 16px;
  font-weight: normal;
  outline: none;
  border: none;
}

.swal-button--danger:not([disabled]):hover {
  background-color: var(--hover-color);
}